@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #000000;
    --global-bg-2: #04b200;
    --global-bg-3: #d9d9d9;
    --global-bg-4: #f11a1a;
    --global-bg-5: #f2f2f2;
    --global-text-1: #000000;
    
    /* Header Colors */
    --header-bg-1: #ffffff;
    --header-text-1: #000000;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  
  /* Header */
  .bg-header-1 {
    background-color: var(--header-bg-1);
  }
  .text-header-1 {
    color: var(--header-text-1);
  }
  .bg-header-text-1 {
    background-color: var(--header-text-1);
  }
}